[flake8]
max-line-length = 88
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203
per-file-ignores =
    # line too long for mock data
    tests/data.py: E501
exclude =
    .venv
    build